{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Hello RegistrationController!{% endblock %}
=======
{% block title %}Registration!{% endblock %}
>>>>>>> 549bb062610408a1a0f861b9daea46ee4407f875

{% block body %}
<br>
<br>
<br>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-lg btn-primary" type="submit">
			Register
<<<<<<< HEAD
		</button>
=======
</button>
>>>>>>> 549bb062610408a1a0f861b9daea46ee4407f875
{{ form_end(form) }}
{% endblock %}
